@charset "utf-8";
@import "./variables.scss";
@import "bulma";
@import "./spacings.scss";
@import "./typography.scss";

@font-face {
  font-family: "Avenir Next";
  src: url("../../static/fonts/AvenirNext/AvenirNextLTPro-Regular.otf")
    format("opentype");
}

html {
  scroll-behavior: smooth;
}

.has-text-gold {
  color: $gold !important;
}
