@import "../../../styles/variables";

.hero__title {
  font-size: 5rem;
  font-weight: 600;
}

.hero__subtitle {
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: black;
}

.hero__button--color {
  border-color: #daa520;
  color: #daa520;
  transition: 0.3s;

  &:hover {
    color: white;
    border-color: #daa520;
    background-color: #daa520;
  }
}

.hero__subtitle--blinking-cursor {
  background: #222;
  line-height: 100px;
  margin-left: 3px;
  margin-top: 10px;
  -webkit-animation: blink 0.8s infinite;
  width: 10px;
  height: 17px;
}

@-webkit-keyframes blink {
  0% {
    background: white;
  }

  50% {
    background: #222;
  }

  100% {
    background: white;
  }
}
