@import "../../../styles/variables";

.emoji {
  align-items: center;
  font-size: 3.5rem;
  max-width: 5%;
}

@media (max-width: $tablet) {
  .emoji {
    align-items: center;
    font-size: 2.5rem;
    max-width: 100%;
    justify-content: center;
  }
}

.link__medgrocer {
  color: #0d6d6e !important;
  transition: 0.5s;

  &:hover {
    background-color: #cfe1e1;
  }
}

.header {
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: #FFFF9F;
  }
}